ul {
/*    font-size: 16px;
*/    color: grey;    
}

.matches-container {
    color: grey;
}

.matches-row {
    padding: 40px;
}

#scalia-bot {
    font-size: 32px;
}

#your-input {
    color: grey;
    font-size: 18px;
}

.results-header {
    margin-top: 50px;
}

body {
    font-family: 'Montserrat', sans-serif !important;
  	background-image: url("../img/dark-abstract.jpg");
  	background-position: 50% 50%;
  	background-repeat: repeat;
}
