@font-face{
  font-family: trial;
  src: url('../Montserrat-Light.ttf');
}

ul {
  color: grey;    
}

.return-button {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  background: lightblue;
  padding: 10px;
  text-decoration: none;
  border: none;
  outline: none;
}

.matches-container {
  color: grey;
}

.matches-row {
  padding: 40px;
}

#scalia-bot {
  font-size: 32px;
}

#your-input {
  color: grey;
  font-size: 18px;
  margin-bottom: 20px;
}

body {
  font-family: trial, sans-serif !important;
	background-image: url("../img/dark-abstract.jpg");
	background-position: 50% 50%;
	background-repeat: repeat;
}
