@font-face{
  font-family: trial;
  src: url('../Montserrat-Light.ttf');
}

.submit-button {
  float: right;
    -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  background: lightblue;
  padding: 10px;
  text-decoration: none;
  border: none;
  outline: none;
}

#title {
	margin-top: 50px;
	color: black;
}

#subtitle {
	color: grey;
	font-size: 18px;
}

input {
    padding: 20px;
}

#search-bar {
	margin-top: 100px;
}

#engine-label {
	color: white;
	font-size: 18px;
}

body {
    font-family: trial, sans-serif !important;
  	background-image: url("../img/dark-abstract.jpg");
  	background-position: 50% 50%;
  	background-repeat: repeat;
}

#input-box {
  padding: 20px;
}