<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
  
    <title>Scalia</title>
    <meta name="description" content="legal search engine">
    <meta name="author" content="Joshua Yuan">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}">
</head>

<body>
    <h1 class="text-center" id="title">Scalian</h1>

    <div class="container">
        <div class="text-center" id="engine-label">
           <div id="subtitle">Search engine for classical music history.</div>
        </div>
        <div class="row" id="search-bar">    
            <div class="col-md-12">
                <form method="POST" action="/result">
                <div class="form-group">
                    <input id="input-box" type="text" class="form-control" name="user-input" placeholder="What would you like to know?">
                </div>
                <input class="submit-button" type="submit" value="Search">
            </form>
            </div>
        </div>
        <div class="row">
            <audio id="player" src="{{ url_for('static',filename='adagio.mp3') }}" controls autoplay loop crossorigin="anonymous"></audio>
            <div id="visualisation"></div>
        </div>
    </div>      
    
    <!-- <div class="container">
        <audio id="player" src="{{ url_for('static',filename='adagio.mp3') }}" controls crossorigin="anonymous"></audio>
        <div id="visualisation"></div>
    </div> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script> 
    <script src="{{ url_for('static',filename='js/visualizer.js') }}"></script>

</body>
</html>
